<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.ialmostdeveloper.soulfire_mobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Soulfiremobile">
        <activity
            android:name=".Activities.EditSelfBeliefActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AddSelfBeliefActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AddPresetActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EditUserAchievementActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AddUserAchievementActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EditDiaryNoteActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AddDiaryNoteActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.RegisterActivity5"
            android:exported="false" />
        <activity
            android:name=".Activities.RegisterActivity4"
            android:exported="false" />
        <activity
            android:name=".Activities.RegisterActivity3"
            android:exported="false" />
        <activity
            android:name=".Activities.RegisterActivity2"
            android:exported="false" />
        <activity
            android:name=".Activities.RegisterActivity1"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>